// --------------------------------

// (START) Global Editor code https://codyhouse.co/ds/globals/forms

// --------------------------------

.form-control {
  --form-control-font-size: 1em;
  --form-control-padding-x: var(--space-sm);
  --form-control-padding-y: var(--space-xs);
  --form-control-radius: 50px;
  border: 2px solid var(--color-primary);
  font-family: var(undefined);
  line-height: 1.2;
  transition: all 0.2s ease;

  &::placeholder {
    opacity: 1;  
    color: var(--color-primary-darker);
  }

  &:focus {
    border-color: var(--color-primary);
    box-shadow: 0px 0px 0px 2px alpha(var(--color-primary), 0.2);
    outline: none;
  }
}

.form-control--disabled, .form-control[disabled], .form-control[readonly] {
  cursor: not-allowed;
  border: 2px solid var(--color-contrast-low);
}

.form-control[aria-invalid="true"], .form-control--error {
  border-color: var(--color-error-light);

  &:focus {
    box-shadow: 0px 0px 0px 2px alpha(var(--color-error), 0.2);
  }
}

.form-legend {
  color: var(--color-primary);
  font-family: var(--font-primary);
  font-size: var(--text-md);
}

.form-label {
  color: var(--color-primary-darker);
  font-family: var(undefined);
  font-size: var(--text-sm);
}

// --------------------------------

// (END) Global Editor Code

// --------------------------------