// --------------------------------

// How to add custom utility classes

// --------------------------------

// 👇 your custom utility class
.respimg{ 
    display:block;
    width:100%;
    max-width:100%;
    height: auto; 
}

// 👇 (optional) create responsive variations - edit only [my-util-class, property, value]
// @each $breakpoint, $value in $breakpoints { 
//   @include breakpoint(#{$breakpoint}) {
//     .my-util-class\@#{$breakpoint} {
//       property: value;
//     }
//   }
// }