---
title: Home
layout: layouts/default.njk 
---
<section class="feature-v4 margin-top-xxl margin-top-0@md">
  <div class="container max-width-adaptive-lg">
    <div class="feature-v4__grid grid gap-md items-center">
      <div class="col-5@md position-relative z-index-1 padding-left-lg@md">

        <div class="text-component text-center text-left@md">
          <h1 class="text-xxxxl feature-v4__text-offset@md color-primary">Your Style, <br>Customized.</h1>
          <p class="color-primary">The best looking kicks, caps, and accessories all handpainted and customized just for you.</p>
        </div>

        <div class="margin-top-md">
          <div class="flex flex-wrap gap-sm flex-column flex-row@md padding-x-lg padding-x-0@md">
            <a href="#0" class="btn btn--primary">Shop</a>
          </div>
        </div>
      </div>

      <div class="col-7@md">
        <figure>
          <img class="block width-100%" src="/assets/img/heroimg.png" alt="Vans painted with sprinkles">
        </figure>
      </div>
    </div>
  </div>
</section>