---
title: Privacy Policy
layout: layouts/default.njk 
subheading: "Kewl Colors"
body: "Text of policy goes here"
---


<section class="hero bg padding-y-xxl bg-primary">
  <div class="container max-width-adaptive-sm">
    <div class="text-center">
      <div class="text-sm opacity-60% margin-bottom-xxs">{{ subheading }}</div>
      
      <div class="text-component margin-bottom-sm">
        <h1 class="color-white">{{ title }}</h1>
      </div>
    </div>
  </div>
</section>
<section class="padding-y-xxl" >
    <div class="margin-top-md">
        <div class="container max-width-lg padding-x-md">
            {{ body }}
        </div>
    </div>
</section>